/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/


.body {
    width: 200px;
    height: 500px;
    border: 4px solid black;

}

.tick {
    background-color: black;
    height: 200px;
    width: 50px;
}

